body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .main-container, .footer {
    background-color: #1F2937;
}

.header, h1{
    color: #F9FAF8;
}

.header {
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    padding: 16px 64px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

a, p, .image, button, .image-text{
    color: #b8bbc0;
    font-size: 18px;
}

.main-container {
    display: flex;
    align-items: center;
    padding: 100px 64px;
    padding-bottom: 140px;
    gap: 56px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 16px;
}

button {
    font-weight: 600;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    padding: 8px 32px;
    border-radius: 8px;
}

.image {
    background-color: #575f6f;
    width: 1000px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    height: auto;
}

.images-container .text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 600;
    margin: 48px;
}

.image-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.image-content{
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

.image-text {
    font-size: 20px;
    color: hsl(216, 22%, 28%);
    width: 180px;
    text-align: center
}

.quote-container{
    background-color: #e5e7eb;
    padding: 140px 220px;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.singup-container{
    display: flex;
    justify-content: center;
    padding: 140px 0px;
}

.cta-container{
    background-color: #3882F6;
    border-radius: 10px;
    width: 1124px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

.cta-title{
    font-weight: 600;
    color: white;
    font-size: 26px;
}

.cta-text{
    font-size: 20px;
    color: lightgray;
}

.cta-container button {
    border: 3px solid white;
}

.footer {
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
}