body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .main-container, .footer {
    background-color: #1F2937;
}

.header, h1{
    color: #F9FAF8;
}

.header {
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    padding: 16px 64px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

a, p, .image, button{
    color: #b8bbc0;
    font-size: 18px;
}

.main-container {
    display: flex;
    align-items: center;
    padding: 100px 64px;
    padding-bottom: 140px;
    gap: 56px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 16px;
}

button {
    font-weight: 600;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    padding: 8px 32px;
    border-radius: 8px;
}

.image {
    background-color: #575f6f;
    width: 1000px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}